<script>
$(document).ready(function () {
    $("#country").change(function () {
        var val = $(this).val();
        if (val == "0") {
            $("#state_id").html("<option value=''></option>");
        } else if (val == "Deutschland") {
            $("#state_id").html(
            		"<repeat group='{{@user->getStatesByCountryId(1)}}' value='{{@value}}'>
                 	<option value={{@value->state}}>{{@value->state}}</option></repeat>"
                    		);
        } else if (val == "Österreich") {
            $("#state_id").html(
            		"<repeat group='{{@user->getStatesByCountryId(2)}}' value='{{@value}}'>
                    <option value={{@value->state}}>{{@value->state}}</option></repeat>"
                    );
        }
    });
});
</script>
	<div class="form-group">
		<label for="country">Land</label></p>
			<select name="country" id="country" class="form-control">
				<option value= "0" selected>Bitte auswählen</option>
				<repeat group="{{@user->getCountries()}}" value="{{@value}}">
				<option value="{{@value->country}}" name='country'>{{@value->country}}</option>
				</repeat>
			</select>
	</div>	
	<div class="form-group">
		<label for="state_id">Bundesland</label></p>
			<select name="state_id" id="state_id" class="form-control">
			</select>
	</div>