<form id ="create" method="post" action ="/advertisment/create">
	<fieldset>
		<label for="title">Titel der Anzeige</label>
		<input type="text" name="title" id="title">
		<label for="rental_price_hour">Preis pro Stunde</label>
		<input type=text name="rental_price_hour" id="rental_price_hour">
		<label for="rental_price_day">Preis pro Tag</label>
		<input type="text" name="rental_price_day" id="rental_price_day">
		<label for="description">Beschreibung der Anzeige</label>
		<input type="text" name="description" id="description">
		<input type="text" name="address_id" id="address_id">
		<input type="hidden" name="user_id" id="user_id" value="{{ @SESSION.user_id }}">
		<input type="hidden" name="create" value="create">
		<button type="submit" class="btn btn-primary">Erstellen</button>
	</fieldset>
</form>