<fieldset>
	<legend>Adresse</legend>
		<table class="table table-hover table-bordered table-striped">
			<thead class="thead-inverse">
				<tr>
					<th class="col">Straße</th>
					<th class="col">Nr.</th>
					<th class="col">Postleitzahl</th>
					<th class="col">Stadt</th>
					<th class="col">Auswahl</th>
				</tr>
			</thead>
			<tbody>
			<repeat group="{{@useraddress}}" value="{{@entry}}">
				<tr scope="row">
		 			<td>{{ trim(@entry.address) }}</td>
		 			<td>{{ trim(@entry.address_nr) }}</td>
		 			<td>{{ trim(@entry.postal_code) }}</td>
		 			<td>{{ trim(@entry.city) }}</td>
					<td><input type="checkbox" name="addressCheck" id="addressCheck" value="{{@entry.id}}"></td>
				</tr>
			</repeat>
			</tbody>
		</table>
</fieldset>