<include href="user/profile/welcome.htm">

<<<<<<< HEAD
<include if="{{ count(@adv) >=0 }}" href="user/profile/my-advertisements-list.htm">

<include href="user/profile/new-advertisement.htm">

<include href="user/profile/browse-all-advertisements.htm">
=======
<include if="{{ count(@adv) >=0 }}" href="user/profile/my-advertisments-list.htm">

<include href="main/logout.htm">

<include href="user/profile/browse-all-advertisments.htm">
>>>>>>> e21ca75a0e395702742134436b007693a3a631c3
