
<fieldset>
	<legend>Preis</legend>
		<div class="form-group">
			<label for="rental_price_hour">Preis pro Stunde (in €)</label>
			<input type="number" step="0.01" min="0" name="rental_price_hour" id="rental_price_hour" class="form-control">
		</div>
		<div class="form-group">
			<label for="rental_price_day">Preis pro Tag (in €)</label>
			<input type="number" step="0.01" min="0" name="rental_price_day" id="rental_price_day" class="form-control">
		</div>
</fieldset>