<div class="alert alert-danger" role="alert">
	<strong>Folgende Fehler sind aufgetreten:</strong><br/>
  	<check if="{{@title}}"><strong>Titel</strong><p>{{@title}}</p></check>
  	<check if="{{@description}}"><strong>Beschreibung</strong><p>{{@description}}</p></check>
  	<check if="{{@model}}"><strong>Model</strong><p>{{@model}}</p></check>
  	<check if="{{@color}}"><strong>Farbe</strong><p>{{@color}}</p></check>
  	<check if="{{@fuel_type}}"><strong>Kraftstoff</strong><p>{{@fuel_type}}</p></check>
  	<check if="{{@year}}"><strong>Baujahr</strong><p>{{@year}}</p></check>
  	<check if="{{@horsepower}}"><strong>Pferdestärken (PS)</strong><p>{{@horsepower}}</p></check>
  	<check if="{{@size}}"><strong>Größe des Raumes</strong><p>{{@size}}</p></check>
  	<check if="{{@equipment}}"><strong>Ausstattung</strong><p>{{@equipment}}</p></check>
  	<check if="{{@rental_price_hour}}"><strong>Preis pro Stunde</strong><p>{{@rental_price_hour}}</p></check>
  	<check if="{{@rental_price_day}}"><strong>Preis pro Tag</strong><p>{{@rental_price_day}}</p></check>
</div>