<form id ="newAdvertisement" method="post" action ="/advertisement/create">
<h1>Neue Anzeige erstellen</h1>
<include if="{{count(@errors) >0}}" href="advertisement/new-advertisement/create-error.htm">
<include href="advertisement/new-advertisement/create-category.htm">
<div id="adv-form"></div>
<include href="advertisement/new-advertisement/create-availabilities.htm">
<include href="advertisement/new-advertisement/create-rental-price.htm">
<include href="user/profile/my-addresses.htm">
	<input type="hidden" name="newAdvertisement" value="newAdvertisement">
	<hr />
			<button type="reset" class="btn btn-danger">Zurücksetzen</button>
			<button type="submit" class="btn btn-primary">Erstellen</button>
			<hr />
			<a href="{{ @BASE . '/'}}" class = "btn btn-primary">Zurück zum Login</a>
</form>