<fieldset>
	<legend>Anzeige Daten</legend>
		<div class="form-group">
			<label for="title">Titel der Anzeige</label>
			<input type="text" name="title" id="title" class="form-control">
		</div>
		<div class="form-group">
			<label for="description">Beschreibung</label>
			<textarea name="description" id="description" class="form-control" form="newAdvertisement"></textarea>
		</div>
		<div class="form-group">
			<label for="size">Größe des Raumes</label>
			<input type="text" name="size" id="size" class="form-control">
		</div>
		<div class="form-group">
			<label for="equipment">Ausstattung</label>
			<textarea name="equipment" id="equipment" class="form-control" form="newAdvertisement"></textarea>
		</div>
			<input type="hidden" name="newAdvertisementRehearsalRoom" value="newAdvertisementRehearsalRoom">
</fieldset>
