<script>
$(document).ready(function () {
    $("#avail_month_from").change(function () {
    	var jan='';
    	for(i=1;i<=31;i++){jan += "<option value="+i+">"+i+"</option>";};
    	var feb='';
    	for(i=1;i<=28;i++){feb += "<option value="+i+">"+i+"</option>";};
    	var apr='';
    	for(i=1;i<=30;i++){apr += "<option value="+i+">"+i+"</option>";};
        var val = $(this).val();
        if (val == "0") {
            $("#avail_day_from").html("<option></option>");
        } else if (val == "01") {
            $("#avail_day_from").html(jan);
        } else if (val == "02") {
        	$("#avail_day_from").html(feb);
        } else if (val == "03") {
        	$("#avail_day_from").html(jan);
        } else if (val == "04") {
        	$("#avail_day_from").html(apr);
        } else if (val == "05") {
        	$("#avail_day_from").html(jan);
        } else if (val == "06") {
        	$("#avail_day_from").html(apr);
        } else if (val == "07") {
        	$("#avail_day_from").html(jan);
        } else if (val == "08") {
        	$("#avail_day_from").html(jan);
        } else if (val == "09") {
        	$("#avail_day_from").html(apr);
        } else if (val == "10") {
        	$("#avail_day_from").html(jan);
        } else if (val == "11") {
        	$("#avail_day_from").html(apr);
        } else if (val == "12") {
        	$("#avail_day_from").html(jan);
        }   
    });
    $("#avail_month_to").change(function () {
    	var jan='';
    	for(i=1;i<=31;i++){jan += "<option value="+i+">"+i+"</option>";};
    	var feb='';
    	for(i=1;i<=28;i++){feb += "<option value="+i+">"+i+"</option>";};
    	var apr='';
    	for(i=1;i<=30;i++){apr += "<option value="+i+">"+i+"</option>";};
        var val = $(this).val();
        if (val == "0") {
            $("#avail_day_to").html("<option></option>");
        } else if (val == "01") {
            $("#avail_day_to").html(jan);
        } else if (val == "02") {
        	$("#avail_day_to").html(feb);
        } else if (val == "03") {
        	$("#avail_day_to").html(jan);
        } else if (val == "04") {
        	$("#avail_day_to").html(apr);
        } else if (val == "05") {
        	$("#avail_day_to").html(jan);
        } else if (val == "06") {
        	$("#avail_day_to").html(apr);
        } else if (val == "07") {
        	$("#avail_day_to").html(jan);
        } else if (val == "08") {
        	$("#avail_day_to").html(jan);
        } else if (val == "09") {
        	$("#avail_day_to").html(apr);
        } else if (val == "10") {
        	$("#avail_day_to").html(jan);
        } else if (val == "11") {
        	$("#avail_day_to").html(apr);
        } else if (val == "12") {
        	$("#avail_day_to").html(jan);
        }   
    });
    var time = '';     
    var sel = document.getElementById('avail_time_from')
    for(i = 1; i <=24; i++) {
        var opt = document.createElement('option');
        opt.innerHTML = i+":00";
        opt.value = i+":00:00";
        sel.appendChild(opt);
    }
    var time = '';     
    var sel = document.getElementById('avail_time_to')
    for(i = 1; i <=24; i++) {
        var opt = document.createElement('option');
        opt.innerHTML = i+":00";
        opt.value = i+":00:00";
        sel.appendChild(opt);
    }
});
</script>
<fieldset>
	<legend>Verfügbarkeit</legend>
		<h5><strong>Von:</strong></h5>
		<div class="form-group">
			<label for="avail_year_from">Jahr</label>
				<select name="avail_year_from" id="avail_year_from" class="form-control" required>
					<option value="0">Bitte auswählen</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			<label for="avail_month_from">Monat</label>
				<select name="avail_month_from" id="avail_month_from" class="form-control" required>
					<option value="0">Bitte auswählen</option>
					<option value="01">Jänner</option>
					<option value="02">Februar</option>
					<option value="03">März</option>
					<option value="04">April</option>
					<option value="05">Mai</option>
					<option value="06">Juni</option>
					<option value="07">Juli</option>
					<option value="08">August</option>
					<option value="09">September</option>
					<option value="10">Oktober</option>
					<option value="11">November</option>
					<option value="12">Dezember</option>
				</select>
			<label for="avail_day_from">Tag</label>
				<select name="avail_day_from" id="avail_day_from" class="form-control" required>
				</select>
			<label for="avail_time_from">Uhrzeit</label>
				<select name="avail_time_from" id="avail_time_from" class="form-control" required>
				<option></option>
				</select>
		</div>
		<h5><strong>Bis:</strong></h5>
		<div class="form-group">
			<label for="avail_year_to">Jahr</label>
				<select name="avail_year_to" id="avail_year_to" class="form-control" required>
					<option value="0">Bitte auswählen</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			<label for="avail_month_to">Monat</label>
				<select name="avail_month_to" id="avail_month_to" class="form-control" required>
					<option value="0">Bitte auswählen</option>
					<option value="01">Jänner</option>
					<option value="02">Februar</option>
					<option value="03">März</option>
					<option value="04">April</option>
					<option value="05">Mai</option>
					<option value="06">Juni</option>
					<option value="07">Juli</option>
					<option value="08">August</option>
					<option value="09">September</option>
					<option value="10">Oktober</option>
					<option value="11">November</option>
					<option value="12">Dezember</option>
				</select>
			<label for="avail_day_to">Tag</label>
				<select name="avail_day_to" id="avail_day_to" class="form-control" required>
				</select>
			<label for="avail_time_to">Uhrzeit</label>
				<select name="avail_time_to" id="avail_time_to" class="form-control" required>
				<option></option>
				</select>
		</div>
</fieldset>