<repeat group="{{@entry->getAvailability()}}" value="{{ @avail }}">
	<h5>Datum:</h5>
			<div>{{date('d.M.Y',strtotime(@avail->avail_day_from))}} - </div>
			<div>{{date('d.M.Y',strtotime(@avail->avail_day_to))}}</div>
	<h5>Uhrzeit:</h5>
			<div>{{date('H:i',strtotime(@avail->avail_time_from))}} - </div>
			<div>{{date('H:i',strtotime(@avail->avail_time_to))}}</div>
</repeat>